<div class="container">
  <div class="row">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" routerLink='' routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='user' routerLinkActive="active">User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='about' routerLinkActive="active">About</a>
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <router-outlet></router-outlet>
    </div>
      
  </div>
  
</div>









